h1= t('.title')

= link_to t('.create_new_task'), new_task_path(@task)
br

b= t '.need_perform'
= render 'tasks', tasks: @already_need_perform

b= t '.in_future'
= render 'tasks', tasks: @in_future

b= t '.performed_tasks'
= render 'tasks', tasks: @performed_tasks
